<html lang="en">

<head>
    <title> payment </title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div class="one">
        <div class="sidebar">
            <h1>Menu</h1>
            <ul>
                <li><a href="{{url_for('shop')}}">Shop</a></li>
                <li><a href="{{url_for('paymentmethod')}}">Payment Method</a></li>
                <li class="active"><a href="{{url_for('budget')}}">Budget</a></li>
                <li><a href="{{url_for('purchase')}}">Purchase Cart</a></li>
                <li><a href="{{url_for('admin')}}">Admin</a></li>
                <li><a href="{{url_for('transaction_history')}}">Transaction History</a></li>
                <li><a href="{{url_for('delete')}}">Delete Account</a></li>
                <li><a href="{{url_for('logout')}}">Logout</a></li>
            </ul>
        </div>
        <div class="content" align="center">
            <div class="header">
                <h1>Budget</h1>
            </div></br></br>

        <form action="" method="post" name="changeBudget" enctype="multipart/form-data">
            <h3>Remaining budget: (given what's in your cart)</h3>
            <p class="remaining_budget">10.00</p><h3>Add to budget (in $): </h3>
            <input name="add_to_budget_i" placeholder="5">
            <input type="submit" name="add_to_budget">
            <h2>OR</h2>
            <h3>Change Monthly budget to (in $):</h3>
            <input type="number" name="monthly_budget" placeholder="10">
            <input type="submit" name="change_budget">

        </form>
        </div>
    </div>

</body>

</html>