<html lang="en">
    <head>
        <title> delete </title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <div class="one">
            <div class="sidebar">
                <h1>Menu</h1>
                <ul>
                    <li><a href="{{url_for('paymentmethod')}}">Payment Method</a></li>
                    <li class="active"><a href="{{url_for('delete')}}">Delete Account</a></li>
                    <li><a href="{{url_for('logout')}}">Logout</a></li>
                </ul> 
            </div>
            <div class="content" align="center">
                <div class="header">
                    <h1>Delete Account</h1>
                </div></br></br>
                <div class="deletebottom">
                    <form action="{{ url_for('delete')}}" method="post" autocomplete="off">
                    <div class="msg">{{ msg }}</div>
                    <input type="text" name="username" placeholder="Confirm Your Username" class="textbox" id="username" required></br></br>
                    <input type="text" name="monthlybudget" placeholder="Confirm Your Monthly Budget" class="textbox" id="monthlybudget" required></br></br>
                    <input type="submit" class="btn" value="Delete Account">
                </div>
                  
            </div>
        </div>
    </body>
</html>