<html>
    <head>
        <meta charset="UTF-8">
        <title> login </title>
        <link rel="stylesheet" href="../static/style.css">	
    </head>
    <body>
        <div class="content" align="center">
            <div class="header">
                <h1>Login</h1>
	    </div></br></br>
	    <div class="loginbottom">
	        <form action="{{ url_for('login')}}" method="post" autocomplete="off">
	        <div class="msg">{{ msg }}</div>
	            <input type="text" name="username" placeholder="Enter Your Username" class="textbox" id="username" required></br></br>
                <input type="text" name="monthlybudget" placeholder="Enter Your Monthly Budget" class="textbox" id="monthlybudget" required></br></br>
                <input type="submit" class="btn" value="Login">
            </form></br></br>
            <p class="worddark"> New to SaveMyWallet? <a class="worddark" href="{{ url_for('register') }}"> Register here.</a></p>
	    </div>
        </div>
    </body>
</html>
