<html lang="en">
    <head>
        <title> purchase </title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <div class="one">
            <div class="sidebar">
                <h1>Menu</h1>
                <ul>
                    <li><a href="{{url_for('payment')}}">Payment Method</a></li>
                    <li class="active"><a href="{{url_for('purchase')}}">Purchase Cart</a></li>
                    <li><a href="{{url_for('logout')}}">Logout</a></li>
                </ul> 
            </div>
            <div class="content" align="center">
                <div class="header">
                    <h1>Purchase Cart</h1>
                </div></br></br>
                <div class="contentbar">
                    <h1>Cart Contents</h1>    </br>
                    { %TODO grab cart from backend }</br>
                    <h1>Payment Method</h1>    </br>
                    { %TODO grab payment method from backend }</br>
                    <input type="submit" class="btn" value="Place Order">
                </div>
                  
            </div>
        </div>
    </body>
</html>