<html lang="en">
                            <head>
                                <title> purchase </title>
                                <link rel="stylesheet" href="../static/style.css">
                            </head>
                            <body>
                                <div class="one">
                                    <div class="sidebar">
                                        <h1>Menu</h1>
                                        <ul>
                                           <li><a href="{{url_for('shop')}}">Shop</a></li>
                <li><a href="{{url_for('paymentmethod')}}">Payment Method</a></li>
                <li><a href="{{url_for('budget')}}">Budget</a></li>
                <li><a href="{{url_for('purchase')}}">Purchase Cart</a></li>
                <li><a href="{{url_for('admin')}}">Admin</a></li>
                <li class="active"><a href="{{url_for('transaction_history')}}">Transaction History</a></li>
                <li><a href="{{url_for('delete')}}">Delete Account</a></li>
                <li><a href="{{url_for('logout')}}">Logout</a></li>
                                        </ul> 
                                    </div>
                                    <div class="content" align="center">
                                        <div class="header">
                                            <h1>Transaction History</h1>
                                        </div></br></br>
                                       <table style="width:70%" align:"right"><tr class='worddark'><td>Transaction ID</td><td>Transaction Date</td><td>Item Name</td><td>Item Quantity</td><td>Transaction Total</td></tr><tr><td>20</td><td>05/05/2021</td><td>banana</td><td>6</td><td>4.20</td></tr><tr><td>21</td><td>05/05/2021</td><td>banana</td><td>1</td><td>1.00</td></tr></tr></table></br>
                        </div>
                    </div>
                </body>
            </html>